# Paste the bot token here and rename the file to .env
BOT_TOKEN=123456:Your-TokEn_ExaMple

# Postgres database
POSTGRES_DB_HOST=
POSTGRES_DB_PORT=
POSTGRES_DB_NAME=
POSTGRES_DB_USER=
POSTGRES_DB_PASSWORD=

# Webhook credentials
WEBHOOK_HOST=
WEBHOOK_PATH=
WEBHOOK_TOKEN=
WEBAPP_HOST=
WEBAPP_PORT=
